html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1; height:100%; background:#1e1e1e;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0;}
.img-box-list {display:flex; align-items:center; justify-content:center; gap:40px; max-width:920px; flex-wrap:wrap;}
.img-item {width:200px; height:200px; background:#eee; position:relative; background:#fff; box-shadow:1px 1px 10px #d0d0d0; border-radius:10px; overflow:hidden;}
.img-item .front-img a, .img-item .back-img a {display:flex; align-items:center; justify-content:center; height:100%;}
.front-img, .back-img {height:100%;}
.back-img {position:absolute; top:0; height:100%; left:0; width:100%; opacity:0; visibility:hidden; z-index:-1; transform:rotateY(180deg); transition:all 0.5s ease;}
.view-img {height:100%; width:100%; object-fit:cover;}
.back-img.active, .back-img.matched {opacity:1; visibility:visible; z-index:99; transform:rotateY(0deg);}
.matched-text {display:flex; align-items:center; justify-content:center; font-family:sans-serif; width:100%; color:#fff; margin-top:30px; font-size:30px;}
.matched-count {font-size:30px; font-weight:500;}
.wrapper {position:relative; min-height:100vh; width:100%; overflow:hidden;}
[class|=confetti] {position:absolute;}
.confetti-0 {width:3px; height:1.2px; background-color:#263672; top:-10%; left:68%; opacity:1.0764360118; transform:rotate(201.89900427deg); -webkit-animation:drop-0 4.4553230296s 0.4108957733s infinite; animation:drop-0 4.4553230296s 0.4108957733s infinite;}
html, body, #root {height:100%;}

@-webkit-keyframes drop-0 {
100% {top:110%; left:82%;}
}

@keyframes drop-0 {
100% {top:110%; left:82%;}
}

.confetti-1 {width:3px; height:1.2px; background-color:#d13447; top:-10%; left:90%; opacity:1.0315603145; transform:rotate(64.1936566104deg); -webkit-animation:drop-1 4.8355148362s 0.3228724799s infinite; animation:drop-1 4.8355148362s 0.3228724799s infinite;}

@-webkit-keyframes drop-1 {
100% {top:110%; left:91%;}
}

@keyframes drop-1 {
100% {top:110%; left:91%;}
}

.confetti-2 {width:1px; height:0.4px; background-color:#ffbf00; top:-10%; left:94%; opacity:1.1752491165; transform:rotate(165.6323159763deg); -webkit-animation:drop-2 4.4612118821s 0.801497079s infinite; animation:drop-2 4.4612118821s 0.801497079s infinite;}

@-webkit-keyframes drop-2 {
100% {top:110%; left:97%;}
}

@keyframes drop-2 {
100% {top:110%; left:97%;}
}

.confetti-3 {width:6px; height:2.4px; background-color:#ffbf00; top:-10%; left:47%; opacity:1.4349928865; transform:rotate(11.1795023473deg); -webkit-animation:drop-3 4.6315399748s 0.9883728453s infinite; animation:drop-3 4.6315399748s 0.9883728453s infinite;}

@-webkit-keyframes drop-3 {
100% {top:110%; left:56%;}
}

@keyframes drop-3 {
100% {top:110%; left:56%;}
}

.confetti-4 {width:3px; height:1.2px; background-color:#d13447; top:-10%; left:38%; opacity:0.6189556381; transform:rotate(139.4685366916deg); -webkit-animation:drop-4 4.5197684729s 0.8455267243s infinite; animation:drop-4 4.5197684729s 0.8455267243s infinite;}

@-webkit-keyframes drop-4 {
100% {top:110%; left:52%;}
}

@keyframes drop-4 {
100% {top:110%; left:52%;}
}

.confetti-5 {width:1px; height:0.4px; background-color:#d13447; top:-10%; left:78%; opacity:0.6334448637; transform:rotate(251.8462308964deg); -webkit-animation:drop-5 4.9554261443s 0.6925352769s infinite; animation:drop-5 4.9554261443s 0.6925352769s infinite;}

@-webkit-keyframes drop-5 {
100% {top:110%; left:82%;}
}

@keyframes drop-5 {
100% {top:110%; left:82%;}
}

.confetti-6 {width:7px; height:2.8px; background-color:#ffbf00; top:-10%; left:72%; opacity:0.862638418; transform:rotate(184.281228961deg); -webkit-animation:drop-6 4.6740008043s 0.1871728899s infinite; animation:drop-6 4.6740008043s 0.1871728899s infinite;}

@-webkit-keyframes drop-6 {
100% {top:110%; left:75%;}
}

@keyframes drop-6 {
100% {top:110%; left:75%;}
}

.confetti-7 {width:6px; height:2.4px; background-color:#ffbf00; top:-10%; left:16%; opacity:0.6978626229; transform:rotate(145.5553368981deg); -webkit-animation:drop-7 4.0268401299s 0.4358519385s infinite; animation:drop-7 4.0268401299s 0.4358519385s infinite;}

@-webkit-keyframes drop-7 {
100% {top:110%; left:25%;}
}

@keyframes drop-7 {
100% {top:110%; left:25%;}
}

.confetti-8 {width:3px; height:1.2px; background-color:#263672; top:-10%; left:12%; opacity:1.3704295177; transform:rotate(25.2311369178deg); -webkit-animation:drop-8 4.9972527253s 0.7627997613s infinite; animation:drop-8 4.9972527253s 0.7627997613s infinite;}

@-webkit-keyframes drop-8 {
100% {top:110%; left:17%;}
}

@keyframes drop-8 {
100% {top:110%; left:17%;}
}

.confetti-9 {width:3px; height:1.2px; background-color:#d13447; top:-10%; left:81%; opacity:0.9607620575; transform:rotate(298.1575697261deg); -webkit-animation:drop-9 4.2869138608s 0.8829427359s infinite; animation:drop-9 4.2869138608s 0.8829427359s infinite;}

@-webkit-keyframes drop-9 {
100% {top:110%; left:84%;}
}

@keyframes drop-9 {
100% {top:110%; left:84%;}
}

.confetti-10 {width:8px; height:3.2px; background-color:#263672; top:-10%; left:18%; opacity:0.5261384754; transform:rotate(68.8696759528deg); -webkit-animation:drop-10 4.022005463s 0.909968241s infinite; animation:drop-10 4.022005463s 0.909968241s infinite;}

@-webkit-keyframes drop-10 {
100% {top:110%; left:21%;}
}

@keyframes drop-10 {
100% {top:110%; left:21%;}
}

.confetti-11 {width:3px; height:1.2px; background-color:#d13447; top:-10%; left:27%; opacity:0.8037034751; transform:rotate(289.4241158108deg); -webkit-animation:drop-11 4.6235160976s 0.6862645139s infinite; animation:drop-11 4.6235160976s 0.6862645139s infinite;}

@-webkit-keyframes drop-11 {
100% {top:110%; left:32%;}
}

@keyframes drop-11 {
100% {top:110%; left:32%;}
}

.confetti-12 {width:8px; height:3.2px; background-color:#ffbf00; top:-10%; left:64%; opacity:1.1753591404; transform:rotate(75.4253895017deg); -webkit-animation:drop-12 4.2795165623s 0.7061578962s infinite; animation:drop-12 4.2795165623s 0.7061578962s infinite;}

@-webkit-keyframes drop-12 {
100% {top:110%; left:67%;}
}

@keyframes drop-12 {
100% {top:110%; left:67%;}
}

.confetti-13 {width:1px; height:0.4px; background-color:#d13447; top:-10%; left:65%; opacity:1.1705599599; transform:rotate(317.3234152576deg); -webkit-animation:drop-13 4.2083011267s 0.0521799148s infinite; animation:drop-13 4.2083011267s 0.0521799148s infinite;}

@-webkit-keyframes drop-13 {
100% {top:110%; left:73%;}
}

@keyframes drop-13 {
100% {top:110%; left:73%;}
}

.confetti-14 {width:3px; height:1.2px; background-color:#d13447; top:-10%; left:28%; opacity:1.2787626758; transform:rotate(80.2455996532deg); -webkit-animation:drop-14 4.2214749786s 0.247112065s infinite; animation:drop-14 4.2214749786s 0.247112065s infinite;}

@-webkit-keyframes drop-14 {
100% {top:110%; left:32%;}
}

@keyframes drop-14 {
100% {top:110%; left:32%;}
}

.confetti-15 {width:7px; height:2.8px; background-color:#ffbf00; top:-10%; left:77%; opacity:0.9944662643; transform:rotate(123.0237323492deg); -webkit-animation:drop-15 4.5958680741s 0.8579814529s infinite; animation:drop-15 4.5958680741s 0.8579814529s infinite;}

@-webkit-keyframes drop-15 {
100% {top:110%; left:87%;}
}

@keyframes drop-15 {
100% {top:110%; left:87%;}
}

.confetti-16 {width:3px; height:1.2px; background-color:#263672; top:-10%; left:64%; opacity:0.9758832607; transform:rotate(154.3487963895deg); -webkit-animation:drop-16 4.6235300952s 0.4631021641s infinite; animation:drop-16 4.6235300952s 0.4631021641s infinite;}

@-webkit-keyframes drop-16 {
100% {top:110%; left:66%;}
}

@keyframes drop-16 {
100% {top:110%; left:66%;}
}

.confetti-17 {width:3px; height:1.2px; background-color:#ffbf00; top:-10%; left:62%; opacity:0.7021832397; transform:rotate(244.1267153557deg); -webkit-animation:drop-17 4.8412648779s 0.2750675961s infinite; animation:drop-17 4.8412648779s 0.2750675961s infinite;}

@-webkit-keyframes drop-17 {
100% {top:110%; left:64%;}
}

@keyframes drop-17 {
100% {top:110%; left:64%;}
}

.confetti-18 {width:2px; height:0.8px; background-color:#d13447; top:-10%; left:88%; opacity:0.7081679818; transform:rotate(332.3947430311deg); -webkit-animation:drop-18 4.0062283094s 0.8679589275s infinite; animation:drop-18 4.0062283094s 0.8679589275s infinite;}

@-webkit-keyframes drop-18 {
100% {top:110%; left:91%;}
}

@keyframes drop-18 {
100% {top:110%; left:91%;}
}

.confetti-19 {width:3px; height:1.2px; background-color:#ffbf00; top:-10%; left:7%; opacity:1.3347949224; transform:rotate(282.4386569909deg); -webkit-animation:drop-19 4.6534934911s 0.4254328029s infinite; animation:drop-19 4.6534934911s 0.4254328029s infinite;}

@-webkit-keyframes drop-19 {
100% {top:110%; left:19%;}
}

@keyframes drop-19 {
100% {top:110%; left:19%;}
}

.confetti-20 {width:6px; height:2.4px; background-color:#263672; top:-10%; left:20%; opacity:0.5112297789; transform:rotate(122.4742443004deg); -webkit-animation:drop-20 4.4227659972s 0.5626430116s infinite; animation:drop-20 4.4227659972s 0.5626430116s infinite;}

@-webkit-keyframes drop-20 {
100% {top:110%; left:30%;}
}

@keyframes drop-20 {
100% {top:110%; left:30%;}
}

.confetti-21 {width:4px; height:1.6px; background-color:#d13447; top:-10%; left:67%; opacity:0.5607115311; transform:rotate(296.8704105677deg); -webkit-animation:drop-21 4.0689762594s 0.0967687194s infinite; animation:drop-21 4.0689762594s 0.0967687194s infinite;}

@-webkit-keyframes drop-21 {
100% {top:110%; left:77%;}
}

@keyframes drop-21 {
100% {top:110%; left:77%;}
}

.confetti-22 {width:7px; height:2.8px; background-color:#ffbf00; top:-10%; left:100%; opacity:1.3472437161; transform:rotate(105.3343731253deg); -webkit-animation:drop-22 4.9851033009s 0.9871133913s infinite; animation:drop-22 4.9851033009s 0.9871133913s infinite;}

@-webkit-keyframes drop-22 {
100% {top:110%; left:105%;}
}

@keyframes drop-22 {
100% {top:110%; left:105%;}
}

.confetti-23 {width:4px; height:1.6px; background-color:#263672; top:-10%; left:6%; opacity:0.7011305387; transform:rotate(341.2452233258deg); -webkit-animation:drop-23 4.6548030854s 0.6696410172s infinite; animation:drop-23 4.6548030854s 0.6696410172s infinite;}

@-webkit-keyframes drop-23 {
100% {top:110%; left:16%;}
}

@keyframes drop-23 {
100% {top:110%; left:16%;}
}

.confetti-24 {width:6px; height:2.4px; background-color:#263672; top:-10%; left:38%; opacity:1.0235935811; transform:rotate(198.9762567143deg); -webkit-animation:drop-24 4.148236654s 0.3107139948s infinite; animation:drop-24 4.148236654s 0.3107139948s infinite;}

@-webkit-keyframes drop-24 {
100% {top:110%; left:51%;}
}

@keyframes drop-24 {
100% {top:110%; left:51%;}
}

.confetti-25 {width:3px; height:1.2px; background-color:#ffbf00; top:-10%; left:29%; opacity:1.4622233559; transform:rotate(72.900737568deg); -webkit-animation:drop-25 4.6054937088s 0.2258737322s infinite; animation:drop-25 4.6054937088s 0.2258737322s infinite;}

@-webkit-keyframes drop-25 {
100% {top:110%; left:31%;}
}

@keyframes drop-25 {
100% {top:110%; left:31%;}
}

.confetti-26 {width:2px; height:0.8px; background-color:#263672; top:-10%; left:88%; opacity:0.6306032283; transform:rotate(19.4860892433deg); -webkit-animation:drop-26 4.0969259983s 0.7640943334s infinite; animation:drop-26 4.0969259983s 0.7640943334s infinite;}

@-webkit-keyframes drop-26 {
100% {top:110%; left:102%;}
}

@keyframes drop-26 {
100% {top:110%; left:102%;}
}

.confetti-27 {width:7px; height:2.8px; background-color:#ffbf00; top:-10%; left:78%; opacity:1.2387923012; transform:rotate(334.8438772456deg); -webkit-animation:drop-27 4.1513484072s 0.7029115536s infinite; animation:drop-27 4.1513484072s 0.7029115536s infinite;}

@-webkit-keyframes drop-27 {
100% {top:110%; left:87%;}
}

@keyframes drop-27 {
100% {top:110%; left:87%;}
}

.confetti-28 {width:4px; height:1.6px; background-color:#263672; top:-10%; left:49%; opacity:0.7376578754; transform:rotate(265.8255585396deg); -webkit-animation:drop-28 4.2149544614s 0.3395173386s infinite; animation:drop-28 4.2149544614s 0.3395173386s infinite;}

@-webkit-keyframes drop-28 {
100% {top:110%; left:63%;}
}

@keyframes drop-28 {
100% {top:110%; left:63%;}
}

.confetti-29 {width:5px; height:2px; background-color:#d13447; top:-10%; left:52%; opacity:0.7133038416; transform:rotate(39.2896465405deg); -webkit-animation:drop-29 4.6076607364s 0.6140055793s infinite; animation:drop-29 4.6076607364s 0.6140055793s infinite;}

@-webkit-keyframes drop-29 {
100% {top:110%; left:62%;}
}

@keyframes drop-29 {
100% {top:110%; left:62%;}
}

.confetti-30 {width:4px; height:1.6px; background-color:#263672; top:-10%; left:81%; opacity:1.1584877606; transform:rotate(125.9101071097deg); -webkit-animation:drop-30 4.1428557437s 0.0120287529s infinite; animation:drop-30 4.1428557437s 0.0120287529s infinite;}

@-webkit-keyframes drop-30 {
100% {top:110%; left:85%;}
}

@keyframes drop-30 {
100% {top:110%; left:85%;}
}

.confetti-31 {width:4px; height:1.6px; background-color:#263672; top:-10%; left:62%; opacity:1.1405523552; transform:rotate(191.7111090684deg); -webkit-animation:drop-31 4.5434146676s 0.4523133563s infinite; animation:drop-31 4.5434146676s 0.4523133563s infinite;}

@-webkit-keyframes drop-31 {
100% {top:110%; left:74%;}
}

@keyframes drop-31 {
100% {top:110%; left:74%;}
}

.confetti-32 {width:6px; height:2.4px; background-color:#ffbf00; top:-10%; left:14%; opacity:0.8710200194; transform:rotate(79.5932421176deg); -webkit-animation:drop-32 4.6077542296s 0.9626388947s infinite; animation:drop-32 4.6077542296s 0.9626388947s infinite;}

@-webkit-keyframes drop-32 {
100% {top:110%; left:15%;}
}

@keyframes drop-32 {
100% {top:110%; left:15%;}
}

.confetti-33 {width:4px; height:1.6px; background-color:#ffbf00; top:-10%; left:12%; opacity:0.5390850905; transform:rotate(207.0756759427deg); -webkit-animation:drop-33 4.508501304s 0.519539783s infinite; animation:drop-33 4.508501304s 0.519539783s infinite;}

@-webkit-keyframes drop-33 {
100% {top:110%; left:21%;}
}

@keyframes drop-33 {
100% {top:110%; left:21%;}
}

.confetti-34 {width:7px; height:2.8px; background-color:#263672; top:-10%; left:46%; opacity:1.2331358792; transform:rotate(307.118106136deg); -webkit-animation:drop-34 4.4879313843s 0.0243355784s infinite; animation:drop-34 4.4879313843s 0.0243355784s infinite;}

@-webkit-keyframes drop-34 {
100% {top:110%; left:51%;}
}

@keyframes drop-34 {
100% {top:110%; left:51%;}
}

.confetti-35 {width:6px; height:2.4px; background-color:#d13447; top:-10%; left:81%; opacity:0.8294380738; transform:rotate(209.7026863924deg); -webkit-animation:drop-35 4.3268762319s 0.9503448261s infinite; animation:drop-35 4.3268762319s 0.9503448261s infinite;}

@-webkit-keyframes drop-35 {
100% {top:110%; left:94%;}
}

@keyframes drop-35 {
100% {top:110%; left:94%;}
}

.confetti-36 {width:2px; height:0.8px; background-color:#ffbf00; top:-10%; left:54%; opacity:1.2074280523; transform:rotate(166.4088230486deg); -webkit-animation:drop-36 4.2414735549s 0.0192222965s infinite; animation:drop-36 4.2414735549s 0.0192222965s infinite;}

@-webkit-keyframes drop-36 {
100% {top:110%; left:67%;}
}

@keyframes drop-36 {
100% {top:110%; left:67%;}
}

.confetti-37 {width:4px; height:1.6px; background-color:#d13447; top:-10%; left:48%; opacity:0.5730722433; transform:rotate(118.4987632406deg); -webkit-animation:drop-37 4.7138330863s 0.2812836966s infinite; animation:drop-37 4.7138330863s 0.2812836966s infinite;}

@-webkit-keyframes drop-37 {
100% {top:110%; left:57%;}
}

@keyframes drop-37 {
100% {top:110%; left:57%;}
}

.confetti-38 {width:8px; height:3.2px; background-color:#ffbf00; top:-10%; left:59%; opacity:0.8963110752; transform:rotate(39.790004405deg); -webkit-animation:drop-38 4.7623874093s 0.8165785141s infinite; animation:drop-38 4.7623874093s 0.8165785141s infinite;}

@-webkit-keyframes drop-38 {
100% {top:110%; left:64%;}
}

@keyframes drop-38 {
100% {top:110%; left:64%;}
}

.confetti-39 {width:2px; height:0.8px; background-color:#d13447; top:-10%; left:55%; opacity:0.8802151317; transform:rotate(176.927099584deg); -webkit-animation:drop-39 4.0427631244s 0.4192316665s infinite; animation:drop-39 4.0427631244s 0.4192316665s infinite;}

@-webkit-keyframes drop-39 {
100% {top:110%; left:68%;}
}

@keyframes drop-39 {
100% {top:110%; left:68%;}
}

.confetti-40 {width:8px; height:3.2px; background-color:#ffbf00; top:-10%; left:30%; opacity:0.9750392307; transform:rotate(351.9827724023deg); -webkit-animation:drop-40 4.4274007002s 0.678732065s infinite; animation:drop-40 4.4274007002s 0.678732065s infinite;}

@-webkit-keyframes drop-40 {
100% {top:110%; left:34%;}
}

@keyframes drop-40 {
100% {top:110%; left:34%;}
}

.confetti-41 {width:7px; height:2.8px; background-color:#ffbf00; top:-10%; left:71%; opacity:1.0581399642; transform:rotate(358.4240671815deg); -webkit-animation:drop-41 4.1729785634s 0.75929869s infinite; animation:drop-41 4.1729785634s 0.75929869s infinite;}

@-webkit-keyframes drop-41 {
100% {top:110%; left:72%;}
}

@keyframes drop-41 {
100% {top:110%; left:72%;}
}

.confetti-42 {width:2px; height:0.8px; background-color:#263672; top:-10%; left:35%; opacity:0.5377797666; transform:rotate(319.3829077465deg); -webkit-animation:drop-42 4.6118383957s 0.3845724006s infinite; animation:drop-42 4.6118383957s 0.3845724006s infinite;}

@-webkit-keyframes drop-42 {
100% {top:110%; left:43%;}
}

@keyframes drop-42 {
100% {top:110%; left:43%;}
}

.confetti-43 {width:2px; height:0.8px; background-color:#263672; top:-10%; left:69%; opacity:0.5824381527; transform:rotate(255.9845964488deg); -webkit-animation:drop-43 4.1927617277s 0.2404172099s infinite; animation:drop-43 4.1927617277s 0.2404172099s infinite;}

@-webkit-keyframes drop-43 {
100% {top:110%; left:80%;}
}

@keyframes drop-43 {
100% {top:110%; left:80%;}
}

.confetti-44 {width:3px; height:1.2px; background-color:#263672; top:-10%; left:97%; opacity:0.8075030736; transform:rotate(141.7193381128deg); -webkit-animation:drop-44 4.2315059981s 0.6472102376s infinite; animation:drop-44 4.2315059981s 0.6472102376s infinite;}

@-webkit-keyframes drop-44 {
100% {top:110%; left:111%;}
}

@keyframes drop-44 {
100% {top:110%; left:111%;}
}

.confetti-45 {width:6px; height:2.4px; background-color:#263672; top:-10%; left:94%; opacity:1.2305901836; transform:rotate(280.9746455737deg); -webkit-animation:drop-45 4.4760273719s 0.8453801155s infinite; animation:drop-45 4.4760273719s 0.8453801155s infinite;}

@-webkit-keyframes drop-45 {
100% {top:110%; left:108%;}
}

@keyframes drop-45 {
100% {top:110%; left:108%;}
}

.confetti-46 {width:4px; height:1.6px; background-color:#ffbf00; top:-10%; left:38%; opacity:0.6892425463; transform:rotate(189.202686765deg); -webkit-animation:drop-46 4.2444220224s 0.4212360176s infinite; animation:drop-46 4.2444220224s 0.4212360176s infinite;}

@-webkit-keyframes drop-46 {
100% {top:110%; left:49%;}
}

@keyframes drop-46 {
100% {top:110%; left:49%;}
}

.confetti-47 {width:8px; height:3.2px; background-color:#263672; top:-10%; left:31%; opacity:1.4426006901; transform:rotate(232.560291029deg); -webkit-animation:drop-47 4.2009780888s 0.1192099492s infinite; animation:drop-47 4.2009780888s 0.1192099492s infinite;}

@-webkit-keyframes drop-47 {
100% {top:110%; left:44%;}
}

@keyframes drop-47 {
100% {top:110%; left:44%;}
}

.confetti-48 {width:4px; height:1.6px; background-color:#263672; top:-10%; left:66%; opacity:1.2323785231; transform:rotate(158.2221899051deg); -webkit-animation:drop-48 4.6542659311s 0.1977646227s infinite; animation:drop-48 4.6542659311s 0.1977646227s infinite;}

@-webkit-keyframes drop-48 {
100% {top:110%; left:78%;}
}

@keyframes drop-48 {
100% {top:110%; left:78%;}
}

.confetti-49 {width:1px; height:0.4px; background-color:#263672; top:-10%; left:86%; opacity:1.0504690866; transform:rotate(267.5889236207deg); -webkit-animation:drop-49 4.7241784985s 0.7299383571s infinite; animation:drop-49 4.7241784985s 0.7299383571s infinite;}

@-webkit-keyframes drop-49 {
100% {top:110%; left:88%;}
}

@keyframes drop-49 {
100% {top:110%; left:88%;}
}

.confetti-50 {width:3px; height:1.2px; background-color:#d13447; top:-10%; left:78%; opacity:1.2160600555; transform:rotate(213.2103574662deg); -webkit-animation:drop-50 4.117799073s 0.1123902301s infinite; animation:drop-50 4.117799073s 0.1123902301s infinite;}

@-webkit-keyframes drop-50 {
100% {top:110%; left:90%;}
}

@keyframes drop-50 {
100% {top:110%; left:90%;}
}

.confetti-51 {width:7px; height:2.8px; background-color:#263672; top:-10%; left:19%; opacity:1.0408541463; transform:rotate(250.4882295839deg); -webkit-animation:drop-51 4.1921773s 0.6620050866s infinite; animation:drop-51 4.1921773s 0.6620050866s infinite;}

@-webkit-keyframes drop-51 {
100% {top:110%; left:30%;}
}

@keyframes drop-51 {
100% {top:110%; left:30%;}
}

.confetti-52 {width:2px; height:0.8px; background-color:#263672; top:-10%; left:15%; opacity:0.8571472651; transform:rotate(162.5681722208deg); -webkit-animation:drop-52 4.8205190874s 0.5091545748s infinite; animation:drop-52 4.8205190874s 0.5091545748s infinite;}

@-webkit-keyframes drop-52 {
100% {top:110%; left:19%;}
}

@keyframes drop-52 {
100% {top:110%; left:19%;}
}

.confetti-53 {width:1px; height:0.4px; background-color:#ffbf00; top:-10%; left:32%; opacity:1.3003552325; transform:rotate(157.7418624452deg); -webkit-animation:drop-53 4.0047126701s 0.0537716732s infinite; animation:drop-53 4.0047126701s 0.0537716732s infinite;}

@-webkit-keyframes drop-53 {
100% {top:110%; left:36%;}
}

@keyframes drop-53 {
100% {top:110%; left:36%;}
}

.confetti-54 {width:5px; height:2px; background-color:#263672; top:-10%; left:52%; opacity:1.0510325875; transform:rotate(76.7583562188deg); -webkit-animation:drop-54 4.5744170139s 0.0597076019s infinite; animation:drop-54 4.5744170139s 0.0597076019s infinite;}

@-webkit-keyframes drop-54 {
100% {top:110%; left:56%;}
}

@keyframes drop-54 {
100% {top:110%; left:56%;}
}

.confetti-55 {width:1px; height:0.4px; background-color:#d13447; top:-10%; left:7%; opacity:0.5377754227; transform:rotate(309.5629613171deg); -webkit-animation:drop-55 4.8514329253s 0.3152559201s infinite; animation:drop-55 4.8514329253s 0.3152559201s infinite;}

@-webkit-keyframes drop-55 {
100% {top:110%; left:19%;}
}

@keyframes drop-55 {
100% {top:110%; left:19%;}
}

.confetti-56 {width:1px; height:0.4px; background-color:#263672; top:-10%; left:34%; opacity:0.7346130749; transform:rotate(170.0166315061deg); -webkit-animation:drop-56 4.6931312036s 0.4472127836s infinite; animation:drop-56 4.6931312036s 0.4472127836s infinite;}

@-webkit-keyframes drop-56 {
100% {top:110%; left:48%;}
}

@keyframes drop-56 {
100% {top:110%; left:48%;}
}

.confetti-57 {width:3px; height:1.2px; background-color:#ffbf00; top:-10%; left:89%; opacity:1.3824235951; transform:rotate(167.2037132641deg); -webkit-animation:drop-57 4.1067904887s 0.963429873s infinite; animation:drop-57 4.1067904887s 0.963429873s infinite;}

@-webkit-keyframes drop-57 {
100% {top:110%; left:98%;}
}

@keyframes drop-57 {
100% {top:110%; left:98%;}
}

.confetti-58 {width:1px; height:0.4px; background-color:#d13447; top:-10%; left:71%; opacity:0.9883104049; transform:rotate(31.2348793961deg); -webkit-animation:drop-58 4.1546281933s 0.7246174254s infinite; animation:drop-58 4.1546281933s 0.7246174254s infinite;}

@-webkit-keyframes drop-58 {
100% {top:110%; left:82%;}
}

@keyframes drop-58 {
100% {top:110%; left:82%;}
}

.confetti-59 {width:8px; height:3.2px; background-color:#d13447; top:-10%; left:12%; opacity:0.9025116082; transform:rotate(179.3563617251deg); -webkit-animation:drop-59 4.27054195s 0.7463427213s infinite; animation:drop-59 4.27054195s 0.7463427213s infinite;}

@-webkit-keyframes drop-59 {
100% {top:110%; left:19%;}
}

@keyframes drop-59 {
100% {top:110%; left:19%;}
}

.confetti-60 {width:3px; height:1.2px; background-color:#263672; top:-10%; left:72%; opacity:1.0594782869; transform:rotate(141.9821694592deg); -webkit-animation:drop-60 4.893049128s 0.2815470437s infinite; animation:drop-60 4.893049128s 0.2815470437s infinite;}

@-webkit-keyframes drop-60 {
100% {top:110%; left:77%;}
}

@keyframes drop-60 {
100% {top:110%; left:77%;}
}

.confetti-61 {width:8px; height:3.2px; background-color:#d13447; top:-10%; left:36%; opacity:0.5100568958; transform:rotate(31.923190152deg); -webkit-animation:drop-61 4.3979257876s 0.2204871527s infinite; animation:drop-61 4.3979257876s 0.2204871527s infinite;}

@-webkit-keyframes drop-61 {
100% {top:110%; left:48%;}
}

@keyframes drop-61 {
100% {top:110%; left:48%;}
}

.confetti-62 {width:3px; height:1.2px; background-color:#ffbf00; top:-10%; left:10%; opacity:1.3201877858; transform:rotate(276.1518042641deg); -webkit-animation:drop-62 4.8820559924s 0.466276565s infinite; animation:drop-62 4.8820559924s 0.466276565s infinite;}

@-webkit-keyframes drop-62 {
100% {top:110%; left:16%;}
}

@keyframes drop-62 {
100% {top:110%; left:16%;}
}

.confetti-63 {width:8px; height:3.2px; background-color:#d13447; top:-10%; left:90%; opacity:1.1738582908; transform:rotate(108.2558372745deg); -webkit-animation:drop-63 4.4957161688s 0.7210244585s infinite; animation:drop-63 4.4957161688s 0.7210244585s infinite;}

@-webkit-keyframes drop-63 {
100% {top:110%; left:95%;}
}

@keyframes drop-63 {
100% {top:110%; left:95%;}
}

.confetti-64 {width:7px; height:2.8px; background-color:#d13447; top:-10%; left:8%; opacity:0.6325649708; transform:rotate(349.4415320926deg); -webkit-animation:drop-64 4.3290019695s 0.8969525443s infinite; animation:drop-64 4.3290019695s 0.8969525443s infinite;}

@-webkit-keyframes drop-64 {
100% {top:110%; left:10%;}
}

@keyframes drop-64 {
100% {top:110%; left:10%;}
}

.confetti-65 {width:5px; height:2px; background-color:#ffbf00; top:-10%; left:91%; opacity:0.8964550802; transform:rotate(333.1685551294deg); -webkit-animation:drop-65 4.0707760581s 0.4618126791s infinite; animation:drop-65 4.0707760581s 0.4618126791s infinite;}

@-webkit-keyframes drop-65 {
100% {top:110%; left:105%;}
}

@keyframes drop-65 {
100% {top:110%; left:105%;}
}

.confetti-66 {width:7px; height:2.8px; background-color:#d13447; top:-10%; left:6%; opacity:0.7090264959; transform:rotate(304.2556194938deg); -webkit-animation:drop-66 4.9343732609s 0.8752797653s infinite; animation:drop-66 4.9343732609s 0.8752797653s infinite;}

@-webkit-keyframes drop-66 {
100% {top:110%; left:7%;}
}

@keyframes drop-66 {
100% {top:110%; left:7%;}
}

.confetti-67 {width:4px; height:1.6px; background-color:#263672; top:-10%; left:99%; opacity:1.457947859; transform:rotate(101.2222020791deg); -webkit-animation:drop-67 4.9830394133s 0.5473168121s infinite; animation:drop-67 4.9830394133s 0.5473168121s infinite;}

@-webkit-keyframes drop-67 {
100% {top:110%; left:104%;}
}

@keyframes drop-67 {
100% {top:110%; left:104%;}
}

.confetti-68 {width:8px; height:3.2px; background-color:#ffbf00; top:-10%; left:50%; opacity:1.2482685287; transform:rotate(248.1300597162deg); -webkit-animation:drop-68 4.9266501529s 0.241408393s infinite; animation:drop-68 4.9266501529s 0.241408393s infinite;}

@-webkit-keyframes drop-68 {
100% {top:110%; left:62%;}
}

@keyframes drop-68 {
100% {top:110%; left:62%;}
}

.confetti-69 {width:2px; height:0.8px; background-color:#d13447; top:-10%; left:30%; opacity:1.434426911; transform:rotate(193.4672397841deg); -webkit-animation:drop-69 4.8755702407s 0.4901455738s infinite; animation:drop-69 4.8755702407s 0.4901455738s infinite;}

@-webkit-keyframes drop-69 {
100% {top:110%; left:44%;}
}

@keyframes drop-69 {
100% {top:110%; left:44%;}
}

.confetti-70 {width:4px; height:1.6px; background-color:#263672; top:-10%; left:74%; opacity:1.2772382668; transform:rotate(287.5759038644deg); -webkit-animation:drop-70 4.6489561569s 0.9689913477s infinite; animation:drop-70 4.6489561569s 0.9689913477s infinite;}

@-webkit-keyframes drop-70 {
100% {top:110%; left:77%;}
}

@keyframes drop-70 {
100% {top:110%; left:77%;}
}

.confetti-71 {width:8px; height:3.2px; background-color:#263672; top:-10%; left:95%; opacity:0.9057909477; transform:rotate(66.6176990667deg); -webkit-animation:drop-71 4.8602619863s 0.802404075s infinite; animation:drop-71 4.8602619863s 0.802404075s infinite;}

@-webkit-keyframes drop-71 {
100% {top:110%; left:103%;}
}

@keyframes drop-71 {
100% {top:110%; left:103%;}
}

.confetti-72 {width:3px; height:1.2px; background-color:#263672; top:-10%; left:12%; opacity:0.6269997222; transform:rotate(215.7911932485deg); -webkit-animation:drop-72 4.1804965249s 0.6213370749s infinite; animation:drop-72 4.1804965249s 0.6213370749s infinite;}

@-webkit-keyframes drop-72 {
100% {top:110%; left:23%;}
}

@keyframes drop-72 {
100% {top:110%; left:23%;}
}

.confetti-73 {width:2px; height:0.8px; background-color:#ffbf00; top:-10%; left:39%; opacity:0.9163087392; transform:rotate(205.7572050736deg); -webkit-animation:drop-73 4.2666759177s 0.3065732235s infinite; animation:drop-73 4.2666759177s 0.3065732235s infinite;}

@-webkit-keyframes drop-73 {
100% {top:110%; left:49%;}
}

@keyframes drop-73 {
100% {top:110%; left:49%;}
}

.confetti-74 {width:5px; height:2px; background-color:#263672; top:-10%; left:25%; opacity:1.3595343685; transform:rotate(281.0154616495deg); -webkit-animation:drop-74 4.564686244s 0.3278226874s infinite; animation:drop-74 4.564686244s 0.3278226874s infinite;}

@-webkit-keyframes drop-74 {
100% {top:110%; left:26%;}
}

@keyframes drop-74 {
100% {top:110%; left:26%;}
}

.confetti-75 {width:5px; height:2px; background-color:#263672; top:-10%; left:10%; opacity:0.6380778155; transform:rotate(285.5250582501deg); -webkit-animation:drop-75 4.9517560135s 0.7511960235s infinite; animation:drop-75 4.9517560135s 0.7511960235s infinite;}

@-webkit-keyframes drop-75 {
100% {top:110%; left:11%;}
}

@keyframes drop-75 {
100% {top:110%; left:11%;}
}

.confetti-76 {width:5px; height:2px; background-color:#d13447; top:-10%; left:84%; opacity:1.2037236324; transform:rotate(18.2125304195deg); -webkit-animation:drop-76 4.2250356084s 0.1686412237s infinite; animation:drop-76 4.2250356084s 0.1686412237s infinite;}

@-webkit-keyframes drop-76 {
100% {top:110%; left:87%;}
}

@keyframes drop-76 {
100% {top:110%; left:87%;}
}

.confetti-77 {width:8px; height:3.2px; background-color:#d13447; top:-10%; left:72%; opacity:1.4729054111; transform:rotate(11.1206415016deg); -webkit-animation:drop-77 4.5218345502s 0.8394748366s infinite; animation:drop-77 4.5218345502s 0.8394748366s infinite;}

@-webkit-keyframes drop-77 {
100% {top:110%; left:83%;}
}

@keyframes drop-77 {
100% {top:110%; left:83%;}
}

.confetti-78 {width:3px; height:1.2px; background-color:#263672; top:-10%; left:49%; opacity:0.8410082597; transform:rotate(240.1369418879deg); -webkit-animation:drop-78 4.0735726279s 0.9388437608s infinite; animation:drop-78 4.0735726279s 0.9388437608s infinite;}

@-webkit-keyframes drop-78 {
100% {top:110%; left:62%;}
}

@keyframes drop-78 {
100% {top:110%; left:62%;}
}

.confetti-79 {width:1px; height:0.4px; background-color:#263672; top:-10%; left:16%; opacity:1.4415071531; transform:rotate(23.9287029662deg); -webkit-animation:drop-79 4.3914970775s 0.0605669593s infinite; animation:drop-79 4.3914970775s 0.0605669593s infinite;}

@-webkit-keyframes drop-79 {
100% {top:110%; left:24%;}
}

@keyframes drop-79 {
100% {top:110%; left:24%;}
}

.confetti-80 {width:5px; height:2px; background-color:#263672; top:-10%; left:40%; opacity:0.8288099021; transform:rotate(150.2018985271deg); -webkit-animation:drop-80 4.9752574895s 0.7254249057s infinite; animation:drop-80 4.9752574895s 0.7254249057s infinite;}

@-webkit-keyframes drop-80 {
100% {top:110%; left:55%;}
}

@keyframes drop-80 {
100% {top:110%; left:55%;}
}

.confetti-81 {width:7px; height:2.8px; background-color:#d13447; top:-10%; left:43%; opacity:0.9629808113; transform:rotate(41.217930852deg); -webkit-animation:drop-81 4.1797701445s 0.1863323585s infinite; animation:drop-81 4.1797701445s 0.1863323585s infinite;}

@-webkit-keyframes drop-81 {
100% {top:110%; left:50%;}
}

@keyframes drop-81 {
100% {top:110%; left:50%;}
}

.confetti-82 {width:8px; height:3.2px; background-color:#d13447; top:-10%; left:5%; opacity:1.3722768981; transform:rotate(267.9545854015deg); -webkit-animation:drop-82 4.2672321972s 0.8655954783s infinite; animation:drop-82 4.2672321972s 0.8655954783s infinite;}

@-webkit-keyframes drop-82 {
100% {top:110%; left:19%;}
}

@keyframes drop-82 {
100% {top:110%; left:19%;}
}

.confetti-83 {width:5px; height:2px; background-color:#ffbf00; top:-10%; left:40%; opacity:1.074205388; transform:rotate(177.7854225064deg); -webkit-animation:drop-83 4.1614529815s 0.424642829s infinite; animation:drop-83 4.1614529815s 0.424642829s infinite;}

@-webkit-keyframes drop-83 {
100% {top:110%; left:46%;}
}

@keyframes drop-83 {
100% {top:110%; left:46%;}
}

.confetti-84 {width:2px; height:0.8px; background-color:#263672; top:-10%; left:66%; opacity:1.1746893703; transform:rotate(128.9888634605deg); -webkit-animation:drop-84 4.9488997487s 0.9191743443s infinite; animation:drop-84 4.9488997487s 0.9191743443s infinite;}

@-webkit-keyframes drop-84 {
100% {top:110%; left:74%;}
}

@keyframes drop-84 {
100% {top:110%; left:74%;}
}

.confetti-85 {width:1px; height:0.4px; background-color:#ffbf00; top:-10%; left:86%; opacity:0.6172303637; transform:rotate(197.924149705deg); -webkit-animation:drop-85 4.1887155338s 0.7186775259s infinite; animation:drop-85 4.1887155338s 0.7186775259s infinite;}

@-webkit-keyframes drop-85 {
100% {top:110%; left:90%;}
}

@keyframes drop-85 {
100% {top:110%; left:90%;}
}

.confetti-86 {width:2px; height:0.8px; background-color:#263672; top:-10%; left:46%; opacity:1.0065442098; transform:rotate(32.6585552553deg); -webkit-animation:drop-86 4.9757851881s 0.7555192931s infinite; animation:drop-86 4.9757851881s 0.7555192931s infinite;}

@-webkit-keyframes drop-86 {
100% {top:110%; left:57%;}
}

@keyframes drop-86 {
100% {top:110%; left:57%;}
}

.confetti-87 {width:5px; height:2px; background-color:#263672; top:-10%; left:72%; opacity:0.9264104654; transform:rotate(268.6460376022deg); -webkit-animation:drop-87 4.5110527654s 0.9146054797s infinite; animation:drop-87 4.5110527654s 0.9146054797s infinite;}

@-webkit-keyframes drop-87 {
100% {top:110%; left:79%;}
}

@keyframes drop-87 {
100% {top:110%; left:79%;}
}

.confetti-88 {width:5px; height:2px; background-color:#d13447; top:-10%; left:82%; opacity:1.0281962856; transform:rotate(245.158769873deg); -webkit-animation:drop-88 4.6467185677s 0.1174903017s infinite; animation:drop-88 4.6467185677s 0.1174903017s infinite;}

@-webkit-keyframes drop-88 {
100% {top:110%; left:84%;}
}

@keyframes drop-88 {
100% {top:110%; left:84%;}
}

.confetti-89 {width:7px; height:2.8px; background-color:#d13447; top:-10%; left:1%; opacity:0.6901369334; transform:rotate(158.5483074991deg); -webkit-animation:drop-89 4.7064040847s 0.6364036615s infinite; animation:drop-89 4.7064040847s 0.6364036615s infinite;}

@-webkit-keyframes drop-89 {
100% {top:110%; left:15%;}
}

@keyframes drop-89 {
100% {top:110%; left:15%;}
}

.confetti-90 {width:7px; height:2.8px; background-color:#d13447; top:-10%; left:79%; opacity:0.9805031501; transform:rotate(57.7322305122deg); -webkit-animation:drop-90 4.515657763s 0.0979300384s infinite; animation:drop-90 4.515657763s 0.0979300384s infinite;}

@-webkit-keyframes drop-90 {
100% {top:110%; left:82%;}
}

@keyframes drop-90 {
100% {top:110%; left:82%;}
}

.confetti-91 {width:4px; height:1.6px; background-color:#263672; top:-10%; left:55%; opacity:1.2986287854; transform:rotate(152.1573545506deg); -webkit-animation:drop-91 4.2451439642s 0.9518254555s infinite; animation:drop-91 4.2451439642s 0.9518254555s infinite;}

@-webkit-keyframes drop-91 {
100% {top:110%; left:69%;}
}

@keyframes drop-91 {
100% {top:110%; left:69%;}
}

.confetti-92 {width:4px; height:1.6px; background-color:#263672; top:-10%; left:96%; opacity:1.2986748759; transform:rotate(301.9943281853deg); -webkit-animation:drop-92 4.1369984418s 0.897402175s infinite; animation:drop-92 4.1369984418s 0.897402175s infinite;}

@-webkit-keyframes drop-92 {
100% {top:110%; left:99%;}
}

@keyframes drop-92 {
100% {top:110%; left:99%;}
}

.confetti-93 {width:4px; height:1.6px; background-color:#ffbf00; top:-10%; left:28%; opacity:1.4608000629; transform:rotate(55.9556213094deg); -webkit-animation:drop-93 4.1368244818s 0.1083728221s infinite; animation:drop-93 4.1368244818s 0.1083728221s infinite;}

@-webkit-keyframes drop-93 {
100% {top:110%; left:38%;}
}

@keyframes drop-93 {
100% {top:110%; left:38%;}
}

.confetti-94 {width:4px; height:1.6px; background-color:#d13447; top:-10%; left:20%; opacity:1.2617146057; transform:rotate(155.6158398273deg); -webkit-animation:drop-94 4.4183432792s 0.474704085s infinite; animation:drop-94 4.4183432792s 0.474704085s infinite;}

@-webkit-keyframes drop-94 {
100% {top:110%; left:29%;}
}

@keyframes drop-94 {
100% {top:110%; left:29%;}
}

.confetti-95 {width:6px; height:2.4px; background-color:#263672; top:-10%; left:37%; opacity:1.1135241224; transform:rotate(133.5841151169deg); -webkit-animation:drop-95 4.1446823957s 0.3965336226s infinite; animation:drop-95 4.1446823957s 0.3965336226s infinite;}

@-webkit-keyframes drop-95 {
100% {top:110%; left:50%;}
}

@keyframes drop-95 {
100% {top:110%; left:50%;}
}

.confetti-96 {width:6px; height:2.4px; background-color:#ffbf00; top:-10%; left:6%; opacity:1.2795942888; transform:rotate(120.5777489815deg); -webkit-animation:drop-96 4.2939554273s 0.2090010846s infinite; animation:drop-96 4.2939554273s 0.2090010846s infinite;}

@-webkit-keyframes drop-96 {
100% {top:110%; left:13%;}
}

@keyframes drop-96 {
100% {top:110%; left:13%;}
}

.confetti-97 {width:3px; height:1.2px; background-color:#263672; top:-10%; left:11%; opacity:0.949799848; transform:rotate(248.9078022587deg); -webkit-animation:drop-97 4.7359589926s 0.1290656535s infinite; animation:drop-97 4.7359589926s 0.1290656535s infinite;}

@-webkit-keyframes drop-97 {
100% {top:110%; left:20%;}
}

@keyframes drop-97 {
100% {top:110%; left:20%;}
}

.confetti-98 {width:3px; height:1.2px; background-color:#ffbf00; top:-10%; left:30%; opacity:1.2341014031; transform:rotate(211.9611726708deg); -webkit-animation:drop-98 4.3126716005s 0.1087210017s infinite; animation:drop-98 4.3126716005s 0.1087210017s infinite;}

@-webkit-keyframes drop-98 {
100% {top:110%; left:42%;}
}

@keyframes drop-98 {
100% {top:110%; left:42%;}
}

.confetti-99 {width:3px; height:1.2px; background-color:#d13447; top:-10%; left:40%; opacity:0.8643608537; transform:rotate(343.9190480239deg); -webkit-animation:drop-99 4.5532499722s 0.0692286978s infinite; animation:drop-99 4.5532499722s 0.0692286978s infinite;}

@-webkit-keyframes drop-99 {
100% {top:110%; left:48%;}
}

@keyframes drop-99 {
100% {top:110%; left:48%;}
}

.confetti-100 {width:1px; height:0.4px; background-color:#ffbf00; top:-10%; left:2%; opacity:0.6123802684; transform:rotate(64.3304723205deg); -webkit-animation:drop-100 4.3545436169s 0.0354961746s infinite; animation:drop-100 4.3545436169s 0.0354961746s infinite;}

@-webkit-keyframes drop-100 {
100% {top:110%; left:7%;}
}

@keyframes drop-100 {
100% {top:110%; left:7%;}
}

.confetti-101 {width:5px; height:2px; background-color:#d13447; top:-10%; left:41%; opacity:0.7109390583; transform:rotate(231.888539069deg); -webkit-animation:drop-101 4.2665787744s 0.4902857083s infinite; animation:drop-101 4.2665787744s 0.4902857083s infinite;}

@-webkit-keyframes drop-101 {
100% {top:110%; left:42%;}
}

@keyframes drop-101 {
100% {top:110%; left:42%;}
}

.confetti-102 {width:6px; height:2.4px; background-color:#ffbf00; top:-10%; left:56%; opacity:0.6191764479; transform:rotate(335.7219822516deg); -webkit-animation:drop-102 4.9041532318s 0.322058482s infinite; animation:drop-102 4.9041532318s 0.322058482s infinite;}

@-webkit-keyframes drop-102 {
100% {top:110%; left:60%;}
}

@keyframes drop-102 {
100% {top:110%; left:60%;}
}

.confetti-103 {width:1px; height:0.4px; background-color:#d13447; top:-10%; left:73%; opacity:1.4458940165; transform:rotate(96.7913775728deg); -webkit-animation:drop-103 4.7765846775s 0.2157907137s infinite; animation:drop-103 4.7765846775s 0.2157907137s infinite;}

@-webkit-keyframes drop-103 {
100% {top:110%; left:85%;}
}

@keyframes drop-103 {
100% {top:110%; left:85%;}
}

.confetti-104 {width:4px; height:1.6px; background-color:#263672; top:-10%; left:97%; opacity:1.3946858752; transform:rotate(182.3877082369deg); -webkit-animation:drop-104 4.2848324982s 0.0075832348s infinite; animation:drop-104 4.2848324982s 0.0075832348s infinite;}

@-webkit-keyframes drop-104 {
100% {top:110%; left:103%;}
}

@keyframes drop-104 {
100% {top:110%; left:103%;}
}

.confetti-105 {width:1px; height:0.4px; background-color:#263672; top:-10%; left:9%; opacity:1.2327002267; transform:rotate(304.2434320053deg); -webkit-animation:drop-105 4.8465617576s 0.9583097648s infinite; animation:drop-105 4.8465617576s 0.9583097648s infinite;}

@-webkit-keyframes drop-105 {
100% {top:110%; left:24%;}
}

@keyframes drop-105 {
100% {top:110%; left:24%;}
}

.confetti-106 {width:4px; height:1.6px; background-color:#263672; top:-10%; left:81%; opacity:1.2989210984; transform:rotate(263.5920006207deg); -webkit-animation:drop-106 4.4951238675s 0.5711467674s infinite; animation:drop-106 4.4951238675s 0.5711467674s infinite;}

@-webkit-keyframes drop-106 {
100% {top:110%; left:85%;}
}

@keyframes drop-106 {
100% {top:110%; left:85%;}
}

.confetti-107 {width:5px; height:2px; background-color:#ffbf00; top:-10%; left:37%; opacity:0.6551410006; transform:rotate(160.8757638669deg); -webkit-animation:drop-107 4.4683779637s 0.39218025s infinite; animation:drop-107 4.4683779637s 0.39218025s infinite;}

@-webkit-keyframes drop-107 {
100% {top:110%; left:52%;}
}

@keyframes drop-107 {
100% {top:110%; left:52%;}
}

.confetti-108 {width:8px; height:3.2px; background-color:#263672; top:-10%; left:67%; opacity:0.7428418485; transform:rotate(218.8918203222deg); -webkit-animation:drop-108 4.8221299015s 0.7102847081s infinite; animation:drop-108 4.8221299015s 0.7102847081s infinite;}

@-webkit-keyframes drop-108 {
100% {top:110%; left:81%;}
}

@keyframes drop-108 {
100% {top:110%; left:81%;}
}

.confetti-109 {width:3px; height:1.2px; background-color:#ffbf00; top:-10%; left:10%; opacity:0.8703158791; transform:rotate(71.3714032221deg); -webkit-animation:drop-109 4.9760499698s 0.1890770176s infinite; animation:drop-109 4.9760499698s 0.1890770176s infinite;}

@-webkit-keyframes drop-109 {
100% {top:110%; left:17%;}
}

@keyframes drop-109 {
100% {top:110%; left:17%;}
}

.confetti-110 {width:2px; height:0.8px; background-color:#d13447; top:-10%; left:52%; opacity:1.2462344471; transform:rotate(273.3804601397deg); -webkit-animation:drop-110 4.2998858922s 0.8234152032s infinite; animation:drop-110 4.2998858922s 0.8234152032s infinite;}

@-webkit-keyframes drop-110 {
100% {top:110%; left:67%;}
}

@keyframes drop-110 {
100% {top:110%; left:67%;}
}

.confetti-111 {width:4px; height:1.6px; background-color:#d13447; top:-10%; left:84%; opacity:1.072298909; transform:rotate(162.3085650954deg); -webkit-animation:drop-111 4.1955784354s 0.5387437085s infinite; animation:drop-111 4.1955784354s 0.5387437085s infinite;}

@-webkit-keyframes drop-111 {
100% {top:110%; left:86%;}
}

@keyframes drop-111 {
100% {top:110%; left:86%;}
}

.confetti-112 {width:1px; height:0.4px; background-color:#263672; top:-10%; left:53%; opacity:1.0274983155; transform:rotate(206.9319014732deg); -webkit-animation:drop-112 4.3618426661s 0.000637628s infinite; animation:drop-112 4.3618426661s 0.000637628s infinite;}

@-webkit-keyframes drop-112 {
100% {top:110%; left:61%;}
}

@keyframes drop-112 {
100% {top:110%; left:61%;}
}

.confetti-113 {width:1px; height:0.4px; background-color:#d13447; top:-10%; left:73%; opacity:0.6250662341; transform:rotate(218.3393226323deg); -webkit-animation:drop-113 4.692062502s 0.4856892034s infinite; animation:drop-113 4.692062502s 0.4856892034s infinite;}

@-webkit-keyframes drop-113 {
100% {top:110%; left:80%;}
}

@keyframes drop-113 {
100% {top:110%; left:80%;}
}

.confetti-114 {width:4px; height:1.6px; background-color:#ffbf00; top:-10%; left:85%; opacity:0.6783875478; transform:rotate(219.9694979994deg); -webkit-animation:drop-114 4.6908309465s 0.3425856209s infinite; animation:drop-114 4.6908309465s 0.3425856209s infinite;}

@-webkit-keyframes drop-114 {
100% {top:110%; left:100%;}
}

@keyframes drop-114 {
100% {top:110%; left:100%;}
}

.confetti-115 {width:1px; height:0.4px; background-color:#263672; top:-10%; left:36%; opacity:0.6425752267; transform:rotate(215.6376763237deg); -webkit-animation:drop-115 4.7545565944s 0.9804123205s infinite; animation:drop-115 4.7545565944s 0.9804123205s infinite;}

@-webkit-keyframes drop-115 {
100% {top:110%; left:45%;}
}

@keyframes drop-115 {
100% {top:110%; left:45%;}
}

.confetti-116 {width:4px; height:1.6px; background-color:#ffbf00; top:-10%; left:96%; opacity:0.7899080373; transform:rotate(168.213160252deg); -webkit-animation:drop-116 4.1340897232s 0.5128608749s infinite; animation:drop-116 4.1340897232s 0.5128608749s infinite;}

@-webkit-keyframes drop-116 {
100% {top:110%; left:102%;}
}

@keyframes drop-116 {
100% {top:110%; left:102%;}
}

.confetti-117 {width:4px; height:1.6px; background-color:#ffbf00; top:-10%; left:69%; opacity:1.4230794168; transform:rotate(99.5896915484deg); -webkit-animation:drop-117 4.6282560873s 0.2618121677s infinite; animation:drop-117 4.6282560873s 0.2618121677s infinite;}

@-webkit-keyframes drop-117 {
100% {top:110%; left:73%;}
}

@keyframes drop-117 {
100% {top:110%; left:73%;}
}

.confetti-118 {width:2px; height:0.8px; background-color:#ffbf00; top:-10%; left:43%; opacity:1.4907845891; transform:rotate(39.3315827784deg); -webkit-animation:drop-118 4.1285174818s 0.7768981447s infinite; animation:drop-118 4.1285174818s 0.7768981447s infinite;}

@-webkit-keyframes drop-118 {
100% {top:110%; left:50%;}
}

@keyframes drop-118 {
100% {top:110%; left:50%;}
}

.confetti-119 {width:2px; height:0.8px; background-color:#d13447; top:-10%; left:28%; opacity:0.5076461463; transform:rotate(60.4001488078deg); -webkit-animation:drop-119 4.3750442616s 0.5003686896s infinite; animation:drop-119 4.3750442616s 0.5003686896s infinite;}

@-webkit-keyframes drop-119 {
100% {top:110%; left:29%;}
}

@keyframes drop-119 {
100% {top:110%; left:29%;}
}

.confetti-120 {width:8px; height:3.2px; background-color:#ffbf00; top:-10%; left:78%; opacity:0.6208931961; transform:rotate(319.9720194973deg); -webkit-animation:drop-120 4.6767034904s 0.1244951866s infinite; animation:drop-120 4.6767034904s 0.1244951866s infinite;}

@-webkit-keyframes drop-120 {
100% {top:110%; left:81%;}
}

@keyframes drop-120 {
100% {top:110%; left:81%;}
}

.confetti-121 {width:8px; height:3.2px; background-color:#263672; top:-10%; left:94%; opacity:1.0624137385; transform:rotate(205.5558204152deg); -webkit-animation:drop-121 4.7001548628s 0.4819654576s infinite; animation:drop-121 4.7001548628s 0.4819654576s infinite;}

@-webkit-keyframes drop-121 {
100% {top:110%; left:97%;}
}

@keyframes drop-121 {
100% {top:110%; left:97%;}
}

.confetti-122 {width:5px; height:2px; background-color:#263672; top:-10%; left:18%; opacity:1.2047501609; transform:rotate(156.8788967072deg); -webkit-animation:drop-122 4.2683312443s 0.2120180267s infinite; animation:drop-122 4.2683312443s 0.2120180267s infinite;}

@-webkit-keyframes drop-122 {
100% {top:110%; left:33%;}
}

@keyframes drop-122 {
100% {top:110%; left:33%;}
}

.confetti-123 {width:2px; height:0.8px; background-color:#ffbf00; top:-10%; left:62%; opacity:1.2004048064; transform:rotate(204.189854881deg); -webkit-animation:drop-123 4.0773189299s 0.9192506567s infinite; animation:drop-123 4.0773189299s 0.9192506567s infinite;}

@-webkit-keyframes drop-123 {
100% {top:110%; left:64%;}
}

@keyframes drop-123 {
100% {top:110%; left:64%;}
}

.confetti-124 {width:7px; height:2.8px; background-color:#d13447; top:-10%; left:34%; opacity:1.1381806671; transform:rotate(76.0912546217deg); -webkit-animation:drop-124 4.1199758705s 0.7808612507s infinite; animation:drop-124 4.1199758705s 0.7808612507s infinite;}

@-webkit-keyframes drop-124 {
100% {top:110%; left:40%;}
}

@keyframes drop-124 {
100% {top:110%; left:40%;}
}

.confetti-125 {width:5px; height:2px; background-color:#d13447; top:-10%; left:99%; opacity:1.4488813631; transform:rotate(298.5589690579deg); -webkit-animation:drop-125 4.6915089598s 0.6173677422s infinite; animation:drop-125 4.6915089598s 0.6173677422s infinite;}

@-webkit-keyframes drop-125 {
100% {top:110%; left:110%;}
}

@keyframes drop-125 {
100% {top:110%; left:110%;}
}

.confetti-126 {width:6px; height:2.4px; background-color:#ffbf00; top:-10%; left:17%; opacity:1.1865051878; transform:rotate(353.040118644deg); -webkit-animation:drop-126 4.4591679728s 0.020702904s infinite; animation:drop-126 4.4591679728s 0.020702904s infinite;}

@-webkit-keyframes drop-126 {
100% {top:110%; left:19%;}
}

@keyframes drop-126 {
100% {top:110%; left:19%;}
}

.confetti-127 {width:8px; height:3.2px; background-color:#d13447; top:-10%; left:17%; opacity:0.8173795526; transform:rotate(144.4225996763deg); -webkit-animation:drop-127 4.9395498964s 0.8981342855s infinite; animation:drop-127 4.9395498964s 0.8981342855s infinite;}

@-webkit-keyframes drop-127 {
100% {top:110%; left:32%;}
}

@keyframes drop-127 {
100% {top:110%; left:32%;}
}

.confetti-128 {width:1px; height:0.4px; background-color:#ffbf00; top:-10%; left:24%; opacity:0.5940807818; transform:rotate(103.1260377823deg); -webkit-animation:drop-128 4.5074885863s 0.3658766249s infinite; animation:drop-128 4.5074885863s 0.3658766249s infinite;}

@-webkit-keyframes drop-128 {
100% {top:110%; left:29%;}
}

@keyframes drop-128 {
100% {top:110%; left:29%;}
}

.confetti-129 {width:8px; height:3.2px; background-color:#ffbf00; top:-10%; left:80%; opacity:0.9863416652; transform:rotate(22.1569696681deg); -webkit-animation:drop-129 4.761872016s 0.9889618391s infinite; animation:drop-129 4.761872016s 0.9889618391s infinite;}

@-webkit-keyframes drop-129 {
100% {top:110%; left:84%;}
}

@keyframes drop-129 {
100% {top:110%; left:84%;}
}

.confetti-130 {width:6px; height:2.4px; background-color:#263672; top:-10%; left:35%; opacity:1.1078633216; transform:rotate(58.4844747705deg); -webkit-animation:drop-130 4.544063714s 0.5443717435s infinite; animation:drop-130 4.544063714s 0.5443717435s infinite;}

@-webkit-keyframes drop-130 {
100% {top:110%; left:45%;}
}

@keyframes drop-130 {
100% {top:110%; left:45%;}
}

.confetti-131 {width:5px; height:2px; background-color:#263672; top:-10%; left:84%; opacity:1.0000705607; transform:rotate(301.6744251947deg); -webkit-animation:drop-131 4.6583994618s 0.1962120888s infinite; animation:drop-131 4.6583994618s 0.1962120888s infinite;}

@-webkit-keyframes drop-131 {
100% {top:110%; left:88%;}
}

@keyframes drop-131 {
100% {top:110%; left:88%;}
}

.confetti-132 {width:4px; height:1.6px; background-color:#d13447; top:-10%; left:60%; opacity:0.5214115234; transform:rotate(275.1888035512deg); -webkit-animation:drop-132 4.3853792718s 0.5594587541s infinite; animation:drop-132 4.3853792718s 0.5594587541s infinite;}

@-webkit-keyframes drop-132 {
100% {top:110%; left:74%;}
}

@keyframes drop-132 {
100% {top:110%; left:74%;}
}

.confetti-133 {width:8px; height:3.2px; background-color:#263672; top:-10%; left:32%; opacity:0.7418230422; transform:rotate(6.7366332529deg); -webkit-animation:drop-133 4.2127673697s 0.5457497505s infinite; animation:drop-133 4.2127673697s 0.5457497505s infinite;}

@-webkit-keyframes drop-133 {
100% {top:110%; left:37%;}
}

@keyframes drop-133 {
100% {top:110%; left:37%;}
}

.confetti-134 {width:2px; height:0.8px; background-color:#ffbf00; top:-10%; left:47%; opacity:0.9111949411; transform:rotate(203.2542718624deg); -webkit-animation:drop-134 4.8328913515s 0.8092873742s infinite; animation:drop-134 4.8328913515s 0.8092873742s infinite;}

@-webkit-keyframes drop-134 {
100% {top:110%; left:53%;}
}

@keyframes drop-134 {
100% {top:110%; left:53%;}
}

.confetti-135 {width:3px; height:1.2px; background-color:#d13447; top:-10%; left:33%; opacity:1.0125873669; transform:rotate(312.6373585274deg); -webkit-animation:drop-135 4.9787262268s 0.024276392s infinite; animation:drop-135 4.9787262268s 0.024276392s infinite;}

@-webkit-keyframes drop-135 {
100% {top:110%; left:34%;}
}

@keyframes drop-135 {
100% {top:110%; left:34%;}
}

.confetti-136 {width:5px; height:2px; background-color:#ffbf00; top:-10%; left:18%; opacity:1.4137819179; transform:rotate(44.6904711688deg); -webkit-animation:drop-136 4.4102551486s 0.6943385336s infinite; animation:drop-136 4.4102551486s 0.6943385336s infinite;}

@-webkit-keyframes drop-136 {
100% {top:110%; left:23%;}
}

@keyframes drop-136 {
100% {top:110%; left:23%;}
}

.confetti-137 {width:5px; height:2px; background-color:#d13447; top:-10%; left:54%; opacity:0.9118398788; transform:rotate(25.6853152562deg); -webkit-animation:drop-137 4.0664300221s 0.2019531955s infinite; animation:drop-137 4.0664300221s 0.2019531955s infinite;}

@-webkit-keyframes drop-137 {
100% {top:110%; left:69%;}
}

@keyframes drop-137 {
100% {top:110%; left:69%;}
}

.confetti-138 {width:3px; height:1.2px; background-color:#d13447; top:-10%; left:98%; opacity:0.6746029476; transform:rotate(98.4136134507deg); -webkit-animation:drop-138 4.7944956581s 0.4364483213s infinite; animation:drop-138 4.7944956581s 0.4364483213s infinite;}

@-webkit-keyframes drop-138 {
100% {top:110%; left:99%;}
}

@keyframes drop-138 {
100% {top:110%; left:99%;}
}

.confetti-139 {width:2px; height:0.8px; background-color:#ffbf00; top:-10%; left:53%; opacity:1.1148121643; transform:rotate(84.5116362949deg); -webkit-animation:drop-139 4.2089566682s 0.4340481043s infinite; animation:drop-139 4.2089566682s 0.4340481043s infinite;}

@-webkit-keyframes drop-139 {
100% {top:110%; left:66%;}
}

@keyframes drop-139 {
100% {top:110%; left:66%;}
}

.confetti-140 {width:2px; height:0.8px; background-color:#263672; top:-10%; left:43%; opacity:1.0368615808; transform:rotate(193.6852616034deg); -webkit-animation:drop-140 4.36316113s 0.3035199162s infinite; animation:drop-140 4.36316113s 0.3035199162s infinite;}

@-webkit-keyframes drop-140 {
100% {top:110%; left:50%;}
}

@keyframes drop-140 {
100% {top:110%; left:50%;}
}

.confetti-141 {width:4px; height:1.6px; background-color:#d13447; top:-10%; left:79%; opacity:1.1736818563; transform:rotate(245.8625304518deg); -webkit-animation:drop-141 4.8308552308s 0.7017974601s infinite; animation:drop-141 4.8308552308s 0.7017974601s infinite;}

@-webkit-keyframes drop-141 {
100% {top:110%; left:86%;}
}

@keyframes drop-141 {
100% {top:110%; left:86%;}
}

.confetti-142 {width:7px; height:2.8px; background-color:#263672; top:-10%; left:61%; opacity:1.2828458439; transform:rotate(266.0689839151deg); -webkit-animation:drop-142 4.6865416591s 0.7538249279s infinite; animation:drop-142 4.6865416591s 0.7538249279s infinite;}

@-webkit-keyframes drop-142 {
100% {top:110%; left:65%;}
}

@keyframes drop-142 {
100% {top:110%; left:65%;}
}

.confetti-143 {width:6px; height:2.4px; background-color:#263672; top:-10%; left:27%; opacity:0.6633311002; transform:rotate(210.6990370983deg); -webkit-animation:drop-143 4.5493734109s 0.0645935582s infinite; animation:drop-143 4.5493734109s 0.0645935582s infinite;}

@-webkit-keyframes drop-143 {
100% {top:110%; left:33%;}
}

@keyframes drop-143 {
100% {top:110%; left:33%;}
}

.confetti-144 {width:4px; height:1.6px; background-color:#d13447; top:-10%; left:89%; opacity:1.1818561809; transform:rotate(127.5726717017deg); -webkit-animation:drop-144 4.3885393847s 0.5712730493s infinite; animation:drop-144 4.3885393847s 0.5712730493s infinite;}

@-webkit-keyframes drop-144 {
100% {top:110%; left:97%;}
}

@keyframes drop-144 {
100% {top:110%; left:97%;}
}

.confetti-145 {width:5px; height:2px; background-color:#d13447; top:-10%; left:83%; opacity:1.0027591851; transform:rotate(351.5556911903deg); -webkit-animation:drop-145 4.0160916435s 0.7386486833s infinite; animation:drop-145 4.0160916435s 0.7386486833s infinite;}

@-webkit-keyframes drop-145 {
100% {top:110%; left:94%;}
}

@keyframes drop-145 {
100% {top:110%; left:94%;}
}

.confetti-146 {width:5px; height:2px; background-color:#ffbf00; top:-10%; left:28%; opacity:0.7569321071; transform:rotate(55.5013031959deg); -webkit-animation:drop-146 4.2689832609s 0.2536024019s infinite; animation:drop-146 4.2689832609s 0.2536024019s infinite;}

@-webkit-keyframes drop-146 {
100% {top:110%; left:43%;}
}

@keyframes drop-146 {
100% {top:110%; left:43%;}
}

.confetti-147 {width:3px; height:1.2px; background-color:#ffbf00; top:-10%; left:27%; opacity:1.4180214477; transform:rotate(304.2197198761deg); -webkit-animation:drop-147 4.6899908203s 0.2116795028s infinite; animation:drop-147 4.6899908203s 0.2116795028s infinite;}

@-webkit-keyframes drop-147 {
100% {top:110%; left:35%;}
}

@keyframes drop-147 {
100% {top:110%; left:35%;}
}

.confetti-148 {width:8px; height:3.2px; background-color:#ffbf00; top:-10%; left:31%; opacity:1.2979028752; transform:rotate(157.8180079098deg); -webkit-animation:drop-148 4.1773167332s 0.6142879427s infinite; animation:drop-148 4.1773167332s 0.6142879427s infinite;}

@-webkit-keyframes drop-148 {
100% {top:110%; left:38%;}
}

@keyframes drop-148 {
100% {top:110%; left:38%;}
}

.confetti-149 {width:7px; height:2.8px; background-color:#d13447; top:-10%; left:71%; opacity:0.6861486145; transform:rotate(253.8820196873deg); -webkit-animation:drop-149 4.9444327852s 0.6232633417s infinite; animation:drop-149 4.9444327852s 0.6232633417s infinite;}

@-webkit-keyframes drop-149 {
100% {top:110%; left:77%;}
}

@keyframes drop-149 {
100% {top:110%; left:77%;}
}

.confetti-150 {width:3px; height:1.2px; background-color:#ffbf00; top:-10%; left:92%; opacity:1.4961470903; transform:rotate(262.2925820105deg); -webkit-animation:drop-150 4.5858564156s 0.6511973784s infinite; animation:drop-150 4.5858564156s 0.6511973784s infinite;}

@-webkit-keyframes drop-150 {
100% {top:110%; left:102%;}
}

@keyframes drop-150 {
100% {top:110%; left:102%;}
}

.success-text {position:absolute; width:100%; height:100%; display:flex; align-items:center; justify-content:center; color:#fff; font-size:40px; font-family:sans-serif;}
#root {display:flex; align-items:center; justify-content:center; flex-flow:column;}