.img-box-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 720px;
    flex-wrap: wrap;
    margin: auto;
}

.img-item {
    width: 150px;
    height: 150px;
    background: #eee;
    position: relative;
}
.img-item .front-img a,.img-item .back-img a {
    display: block;
    height: 100%;
}

.front-img,.back-img {
    height: 100%;
}
.back-img {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transform: rotateY(180deg);
    transition: all 0.5s ease;
}
.view-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.back-img.active,.back-img.matched {
    opacity: 1;
    visibility: visible;
    z-index: 99;
    transform: rotateY(0deg);
}
.matched-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin: 20px  0 0;
}

.matched-count {
    font-size: 30px;
    font-weight: 500;
}